.delete-success-flash{
  position: absolute;
  width: 100vw;
  height: 65px;
  line-height: 65px;
  top: 100px;
  background-color: #dff2d7;
  display: flex;
  text-align: center;
  color: #648c54;
  z-index: 100;
  &__text{
    width: calc(100vw - 50px);
    padding-left: 50px;
  }
  &__close{
    width: 50px;
    font-size: 1.8em;
    &:hover{
      cursor: pointer;
    }
  }
}

.add_credit{
  margin: 40px auto 0px auto;
  padding-bottom: 40px;
  width: 1020px;
  display: flex;
  flex-direction: row;
  &__info{
    width: 700px;
    height: 750px;
    margin: 0 auto;
    padding-bottom: 100px;
    background-color: $white-b;
    &__top{
      padding: 32px 16px;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
    }
    &__content{
      border-top: 1px solid $gray-b;
      &__form{
        width: 572px;
        padding: 48px;
        background-color: white;
        margin: 0 auto;
        &__field{
          height: 408px;
          width: 320px;
          margin: 0 auto;
          p{
            font-weight: 600;
          }
          .span-red{
            @extend .red-label-require;
          }
          &__input{
            @include input-default-style();
          }
          &__img{
            margin-top: 8px;
          }
          &__date{
            margin-top: 40px;
            &__select__m{
              position: relative;
              #exp_month{
                margin-top: 8px;
                @include select-default-style(35%);
              }
              .icon__arrow__bottom {
                position: absolute;
                right: 210px;
                top: 30%;
                width: 30px;
                background-color: $white-f;
                color: #888;
                font-size: 30px;
                -webkit-text-stroke: 2px white
              }
              .m{
                margin: 0 8px;
              }
            }
            &__select__y{
              position: relative;
              #exp_year{
                margin-top: 8px;
                @include select-default-style(35%);
              }
              .icon__arrow__bottom {
                position: absolute;
                right: 210px;
                top: 30%;
                width: 30px;
                background-color: $white-f;
                color: #888;
                font-size: 30px;
                -webkit-text-stroke: 2px white
              }
              .y{
                margin: 0 8px;
              }
            }
          }
          &__num{
            margin-top: 40px;
            &__form{
              @include input-default-style();
            }
            &__sentence-blue{
              float: right;
              text-decoration: none;
              color:$blue-link-f;
              display:flex;
              align-items:center;
              margin-bottom: 40px;
            }
          }
          button{
            @include button-default-style();
          }
        }
      }
    }
  }
}
