.delete-success-flash{
  position: absolute;
  width: 100vw;
  height: 65px;
  line-height: 65px;
  top: 100px;
  background-color: #dff2d7;
  display: flex;
  text-align: center;
  color: #648c54;
  z-index: 20;
  &__text{
    width: calc(100vw - 50px);
    padding-left: 50px;
  }
  &__close{
    width: 50px;
    font-size: 1.8em;
    &:hover{
      cursor: pointer;
    }
  }
}

.my-indentification {
  margin: 40px auto 0px auto;
  padding-bottom: 40px;
  width: 1020px;
  display: flex;
  flex-direction: row;
  .myinfo {
    width: 700px;
    background: $white-b;
    &__head {
      text-align: center;
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 2px solid #f5f5f5;
      text-align: center;
      font-weight: bold;
    }
    &__form {
      padding: 54px 64px;
      &__top {
        p{
          margin: 8px 0 0;
          line-height: 1.5;
        }
        &__group-right{
          text-align: right;
        }
      }
      &__info{
        text-align: left;
        margin: 40px 0 0;
        &__label{
          font-weight: bolder;
        }
        &__user{
          margin: 8px 0 0;
          line-height: 1.5;
        }
      }
      &__group {
        font-weight: bolder;
        margin: 40px 0 0;
        text-align: left;

        &__form {
          font-weight: normal;
          @include input-default-style();
        }
        &__require {
          @extend .red-label-require;
        }
        &__arbitraty {
          @extend .gray-label-arbitraty;
        }
        &__select-wrap {
          font-weight: normal;
          position: relative;
          .select__default {
            @include select-default-style();
            margin-top: 8px;
          }
          .fa-angle-down {
            position: absolute;
            line-height: 48px;
            top: 8px;
            left: calc(100% - 35px);
            color: #888;
            font-size: 30px;
            -webkit-text-stroke: 2px white;
          }
        }
        &__birth-select-wrap {
          display: inline-block;
          .select-wrap {
            width: 173px;
            font-weight: normal;
            position: relative;
            .select__default {
              @include select-default-style(140px);
              margin-top: 8px;
            }
            .fa-angle-down {
              position: absolute;
              line-height: 48px;
              top: 8px;
              left: calc(100% - 65px);
              color: #888;
              font-size: 30px;
              -webkit-text-stroke: 2px white;
            }
            span {
              text-align: center;
              margin: 0 7px;
            }
          }
        }
      }
      &__form-info {
        font-weight: normal;
        color: #888;
        margin-top: 8px;
      }
      &__group-right {
        text-align: right;
        margin-top: 40px;
        &__link {
          text-align: right;
          @extend .lightblue-link-default-style;
          display: inline-flex;
          line-height: 24px;
        &:hover {
          opacity: 0.7;
        }
          span:hover {
            text-decoration: underline;
          }
          .fa-angle-right {
            font-size: 24px;
            -webkit-text-stroke: 1.5px white;
          }
        }
      }
      &__btn {
        @include button-default-style();
        margin: 40px 0 0;
      }
    }
  }
}
