.profile{
  margin: 40px auto 0px auto;
  padding-bottom: 40px;
  width: 1020px;
  display: flex;
  flex-direction: row;
  &__content{
    width: 700px;
    &__top{
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 2px solid #f5f5f5;
      text-align: center;
      font-weight: bold;
      background-color: $white-b;
    }
    &__middle{
      background-color: $white-b;
      &__info{
        padding: 72px 16px 24px;
        background-image: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?23857628);
        display: flex;
        justify-content: center;
        &__img{
          &__in{
            height: 60px;
            width: 60px;
            border-radius: 50%;
          }
        }
        &__nickname{
          &__in{
            @include input-default-style(220px);
            margin-left: 8px;
          }
        }
      }
      &__bottom{
        padding: 40px 16px;
        &__text{
          @include textarea-default-style();
        }
        &__htext{
        }
        &__btn{
          margin-top: 16px;
          @include button-default-style()
        }
      }
    }
  }
}
