.dialog-box_comment{"data-comment-id": "#{comment.id}"}
  .delete-dialog
    .delete-dialog__message
      %p 確認
      %h2 削除すると二度と復活できません。
      %h2 削除する代わりに停止することもできます。
      %br
      %br
      %h2 本当に削除しますか？
    .delete-dialog__buttons
      .delete-dialog__buttons__cancel
        キャンセル
      .delete-dialog__buttons__submit
        = link_to item_comment_path(item_id: comment.item.id, id: comment.id), method: "delete", class: "confirm_delete" do
          コメントを削除する
#delete-overlay
