.modal {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3000;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
  .modal--inner {
    max-width: none;
    width: 600px;
    margin: 20px auto;
    position: relative;
    background: #fff;
    div {
      .modal-head {
        text-align: center;
        line-height: 80px;
        font-size: 16px;
        font-weight: bold;
      }
      .sell-modal-body {
        border-top: 1px solid #eee;
        padding: 40px;
        .btn-default-red {
          margin: 40px auto 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          text-align: center;
          text-decoration: none
        }
        .text-center {
          margin: 8px 0 0;
          text-align: center;
          a {
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.l__single__container {
  width: 700px;
  margin: 0 auto;
  background-color: $white-b;
  .sell__container {
    .sell__container--inner {
      .l__single__head {
        padding: 32px 16px;
        font-size: 22px;
        text-align: center;
        line-height: 1.5;
        font-weight: bold;
      }
      .sell__form {
        border-top: 1px solid #eee;
        .sell__upload__box {
          width: 620px;
          padding: 40px;
          .sell__upload__head {
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
            .form__require {
              @extend .red-label-require;
            }
          }
          p {
            margin: 8px 0 0;
          }
          .sell__dropbox__container {
            width: 620px;
            margin: 16px auto 0;
            display: flex;
            .sell__upload__items__container {
              display: flex;
              .sell__upload__item {
                width: 116px;
                margin: 0 10px 10px 0;
                border: 1px solid #eee;
                vertical-align: top;
                display: block !important;
                &:first-child {
                  margin-left: 0px;
                }
                .sell__upload__figure {
                  line-height: 116px;
                  width: auto;
                  padding: 0;
                  margin: 0;
                  height: 116px;
                  background-color: $gray-b;
                  align-items: center;
                  img {
                    transform: none;
                    vertical-align: middle;
                  }
                }
                .sell__upload__button {
                  font-size: 14px;
                  a {
                    float: left;
                    width: 50%;
                    background-color: $gray-b;
                    line-height: 44px;
                    text-align: center;
                    color: $blue-link-f;
                    text-decoration: none;
                    touch-action: manipulation;
                    &:last-child {
                      border-left: 1px solid #eee;
                    }
                  }
                }
              }
            }
            .sell__upload__drop-box {
              display: block;
              position: relative;
              // padding: 30px;
              height: 162px;
              background-color: $gray-b;
              border: 1px dashed #ccc;
              font-size: 0;
              text-align: center;
              cursor: pointer;
              transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
              input {
                display: none;
                touch-action: manipulation;
              }
              .visible__pc {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                overflow: auto;
                padding: 15px;
              }
            }
            .have__item-0 {
              width: 100%;
              margin-left: 0;
              // display: none;
            }
            .have__item-1 {
              width: 491px;
              display: none;
            }
            .have__item-2 {
              width: 363px;
              display: none;
            }
            .have__item-3 {
              width: 234px;
              display: none;
            }
            .have__item-4 {
              width: 106px;
              display: none;
              .visible__pc {
                height:140px;
                display:inline-block;
                vertical-align: middle;
                line-height:normal;
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                overflow: auto;
                padding: 15px;
              }
            }
          }
        }
        .sell__content {
          padding: 40px;
          border-top: 1px solid #eee;
          .form__group {
            margin: 40px 0 0;
            &:first-child {
              margin: 0;
            }
            label {
              font-weight: 600;
              display: inline-block;
              .form__require {
                @extend .red-label-require;
                vertical-align: top;
              }
              .form__any {
                @extend .gray-label-arbitraty;
              }
            }
            .form__require__edit-form {
              @extend .red-label-require;
                vertical-align: top;
            }
            .input__default {
              @include input-default-style();
            }
            .textarea__default {
              @include textarea-default-style();
              min-height: 104px;
            }
            .select__wrap {
              position: relative;
              margin: 8px 0 0;
              background-color: $white-f;
              .select__default {
                @include select-default-style();
              }
              .icon__arrow__bottom {
                position: absolute;
                right: 2px;
                top: 20%;
                width: 30px;
                background-color: $white-f;
                color: #888;
                font-size: 30px;
                -webkit-text-stroke: 2px white
              }
            }
            #new-first-category {
              display: block;
            }
            #new-second-category {
              display: none;
            }
            #new-third-category {
              display: none;
            }
          }
          // #item-size {
          //   display: none;
          // }
          .sell__sub--head {
            display: block;
            color: #888;
            font-size: 14px;
            font-weight: bold;
            .form__question {
              display: inline-block;
              height: 14px;
              width: 14px;
              border-radius: 50%;
              background-color: $blue-link-f;
              color: $white-f;
              line-height: 14px;
              font-size: 12px;
              font-weight: nomal;
              text-align: center;
              text-decoration: none;
            }
          }
          .sell__form__box {
            width: 400px;
            margin: 0;
            .sell__price {
              .form__group {
                &:first-child {
                  margin: 0;
                  padding: 0 0 24px;
                  border: 0;
                }
                .price__form {
                  display: flex;
                  .label__left {
                    width: 50%;
                    line-height: 48px;
                  }
                  .label__right {
                    width: 50%;
                  }
                  .sell__price__input {
                    text-align: center;
                    div {
                      display: inline-block;
                      width: 80%;
                      margin: 0 0 0 5%;
                      .input__default {
                        margin: 0;
                        text-align: right;
                      }
                    }
                  }
                }
              }
              .profit__group {
                display: flex;
                justify-content: space-between;
                padding: 24px 0;
                border-top: 1px solid #ccc;
              }
              .bold {
                font-weight: bold;
                .label__left {
                  font-size: 16px;
                }
                .profit-label__right {
                  font-size: 34px;
                }
              }
            }
          }
        }
        .choice__box {
          display: flex;
          justify-content: space-between;
        }
        .sell__btn__box {
          div {
            p {
              line-height: 1.5;
              a {
                color: $blue-link-f;
                text-decoration: none;
              }
            }
          }
          .btn__default {
            @include button-default-style();
          }
          .btn--red {
            margin: 40px 0 0;
          }
          .btn--gray {
            margin: 24px auto 0;
            width: 45%;
            background-color: #aaa;
            border: 1px solid #aaa;
            text-decoration: none;
          }
        }
      }
    }
  }
}
