.search__container {
  display: flex;
  flex-direction: row-reverse;
  margin: 40px auto 0;
  padding: 0 0 40px;
  width: 1020px;
  .search__content {
    width: 700px;
    .search__result--head {
      margin: 0 0 8px;
      font-size: 22px;
      line-height: 1.4;
    }
    .items__box__content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      width: auto;
      .items__box {
        position: relative;
        margin: 0 0 20px 20px;
        width: 160px;
        background-color: $white-b;
        &:nth-child(even) {
          margin-left: 20px;
        }
        &:nth-child(odd) {
          margin: 0 0 20px 20px;
        }
        &:nth-child(4n+1) {
          margin-left: 0;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
        a {
          display: block;
          color: $black-f;
          text-decoration: none;
        }
        &__photo {
          margin: 0;
          padding: 0 0 100%;
          height: 160px;
          width: 160px;
          overflow: hidden;
          &__image {
            height: 160px;
            width: 100%;
            object-fit: cover;
          }
          .item__sold-out__badge {
            > div {
              position: absolute;
              top: 20px;
              left: 0;
              font-size: 22px;
              z-index: 2;
              color: $white-f;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
            }
            &:after {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              content: '';
              z-index: 1;
              height: 0;
              width: 0;
              border-style: solid;
              border-width: 100px 100px 0 0;
              border-color: $mercarired transparent transparent transparent;
            }
          }
        }
        &__body {
          padding: 16px;
          height: 110px;
        }
        &__name {
          height: 3em;
          font-size: 16px;
          color: $black-f;
          font-weight: 400;
          line-height: 1.5;
          overflow: hidden;
          word-break: break-word;
          white-space: normal;
        }
        &__num {
          margin: 8px 0 0;
        }
        &__price {
          font-size: 16px;
          font-weight: 600;
          color: $black-f;
        }
        &__tax {
          font-size: 10px;
        }
      }
    }
    .pager {
      position: relative;
      margin: 40px 0 0;
      font-size: 0;
      text-align: center;
      &__num {
        margin: 0 auto;
        max-width: 220px;
      }
      &__cell {
        position: relative;
        display: inline-block;
        height: 44px;
        width: 44px;
        background-color: $white-b;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;
        line-height: 42px;
        a {
          display: block;
          color: $black-f;
          text-decoration: none;
        }
        i {
          position: absolute;
          top: 0;
          left: 25%;
          min-width: 24px;
          font-size: 24px;
          line-height: 42px;
          background-color: $white-b;
          -webkit-text-stroke: 1.5px $white-b;
        }
      }
      .active {
        color: $white-f;
        background-color: $mercarired;
      }
      &__prev {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
      &__next {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .search__side {
    margin: 0 40px 0 0;
    width: 280px;
    .search__extend__container {
      .search__sort {
        margin: 0 auto;
        width: auto;
        .form__group {
            margin: 0;
          .select__wrap {
            position: relative;
            margin: 0;
            background-color: $white-b;
            text-align: left;
            .select__default {
              padding: 0 16px;
              height: 48px;
              width: 100%;
              border: 1px solid #ccc;
              border-radius: 4px;
              background-color: $white-b;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              -webkit-appearance: none;
              z-index: 2;
              outline: 0;
            }
            i {
              position: absolute;
              line-height: 48px;
              top: 1px;
              left: calc(100% - 35px);
              color: #888;
              font-size: 30px;
              -webkit-text-stroke: 2px white;
            }
          }
        }
      }
      .search__dropdown__content {
        margin: 40px 0 0;
        padding: 16px;
        background-color: $white-b;
        .visible__large {
          display: block;
          font-size: 16px;
          font-weight: bold;
        &+.form__group {
            margin: 24px 0 0;
          }
        }
        .form__group {
          margin: 40px 0 0;
          label {
            i {
              margin: 0 4px 0 0;
              color: #888;
              font-size: 18px;
              vertical-align: middle;
            }
            .fa-list-ul {
              font-size: 20px;
            }
            .fa-star {
              font-size: 14px;
            }
            .fa-truck {
              font-size: 14px;
            }
            .fa-shopping-cart {
              font-size: 14px;
            }
            span {
              font-size: 14px;
              vertical-align: middle;
              font-weight: bold;
            }
          }
          .input__default {
            @include input-default-style();
            font-weight: normal;
          }
          .select__wrap {
            position: relative;
            margin: 8px 0 0;
            background-color: $white-b;
            .select__default {
              @include select-default-style();
              &:disabled {
                background-color: $gray-b;
              }
            }
            .fa-angle-down {
              position: absolute;
              line-height: 48px;
              top: 1px;
              left: calc(100% - 35px);
              color: #888;
              font-size: 30px;
              -webkit-text-stroke: 2px white;
            }
          }
          .select__category__child {
            display: none;
          }
          .select__category__grand-child {
            display: flex;
          }
          .is__show {
            display: block;
          }
        }
        .search__extend__brand {
          ul {
            max-height: 280px;
            background-color: $white-b;
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
            z-index: 10;
            overflow: auto;
            li {
              padding: 16px 8px;
              font-size: 14px;
              cursor: pointer;
            }
          }
        }
        .search__price {
          .input__default {
            @include input-default-style($width: 43%);
          }
          input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
          .wavy__line {
            display: inline-block;
            width: 10%;
            font-size: 14px;
            text-align: center;
          }
        }
        .search__extend__btn {
          display: flex;
          justify-content: space-between;
          padding: 40px 0 0;
          height: 90px;
          .btn__gray {
            @include button-default-style($width: 45%, $background-color: #aaa);
          }
          .btn__red {
            @include button-default-style($width: 45%, $background-color: $mercarired);
          }
        }
      }
    }
  }
}

.radio-button-label {
  display: inline-flex;
  align-self: baseline;
  width: 100%;
  span {
    font-weight: normal !important;
  }
}

.checkbox__default {
  align-self: baseline;
  display: inline-flex;
  margin-top: 6px;
  padding-left: 26px;
  width: 47%;
  font-size: 14px;
  position: relative;
  word-break: break-word;
  min-height: 21px;
}
.checkbox__default__left {
  width: 10px;
}
.checkbox__default__right {
  width: 90px;
  margin-left: 10px;
}
