.parent {
  width:700px;
  margin:45px auto;
  &-item-container {
    background-color:$white-b;
    padding:24px 40px 40px 40px;
    margin-bottom:10px;
    &__item-name {
      font-size:24px;
      text-align:center;
      font-weight: bold;
      word-wrap:break-word;
    }
    &__item--main-content {
      margin:16px 0 0;
      display:flex;
      flex-direction:row;
      &__item-photo {
        position: relative;
        width:300px;
        height:375px;
        overflow:hidden;
        &__main {
          height:300px;
          img {
            object-fit: contain;
          }
        }
        &__sub {
          display:flex;
          flex-direction:row;
          &-containts {
            opacity: .4;
            img {
              object-fit: cover;
            }
          }
          .active {
            opacity: 1;
          }
        }
        .item__sold-out__badge {
          > div {
            position: absolute;
            top: 24px;
            left: 0;
            font-size: 24px;
            z-index: 2;
            color: $white-f;
            transform: rotate(-45deg);
            letter-spacing: 2px;
            font-weight: 550;
          }
          &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            z-index: 1;
            height: 0;
            width: 0;
            border-style: solid;
            border-width: 120px 120px 0 0;
            border-color: $mercarired transparent transparent transparent;
          }
        }
      }
      .item-container__item-detail {
        width:300px;
        height:375px;
        border-collapse:collapse;
        border:1px solid $gray-b;
        margin-left:auto;
        tr {
          border-collapse:collapse;
          border:1px solid $gray-b;
            th {
              background-color: #fafafa;
              padding:10px;
            }
            td {
              padding:10px;
              .tdn {
                text-decoration: none;
                color:$blue-link-f;
                .fa-angle-right {
                  font-weight:bold;
                  font-size:14px;
                }
                .category-height {
                  line-height: 14px;
                }
              }
              .evaluate {
                margin-top:6px;
                display:flex;
                &__good {
                  .fa-laugh {
                    color:#ef5185;
                  }
                }
                &__soso {
                  margin-left:16px;
                  .fa-meh {
                    color:#fba933;
                  }
                }
                &__bad {
                  margin-left:16px;
                  .fa-frown {
                    color:#6ab5d8;
                  }
                }
              }
            }
        }
      }
    }
    &__item-price-container {
      margin:24px 0 0;
      text-align: center;
      span.item-price {
        font-size:50px;
        font-weight:600;
      }
      span.item-tax {
        font-size:10px;
      }
      span.item-shipping-fee {
        font-size:16px;
      }
    }
    &__speech-bubble {
      text-align: center;
      .sales__point__message {
        position: relative;
        display: inline-block;
        margin: 20px 0 0 0;
        padding: 8px;
        height: 37px;
        border-radius: 4px;
        line-height: 1.5;
        color: $white-f;
        background-color: #05B0B4;
        &:after {
          position: absolute;
          bottom: -10px;
          left: 50%;
          content: '';
          height: 0;
          width: 0;
          border-style: solid;
          border-width: 10px 7.5px 0 7.5px;
          border-color: #05B0B4 transparent transparent transparent;
        }
      }
    }
    &__item-buy-btn {
      @include button-default-style();
      font-size:24px;
      margin-top:16px;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      font-weight: bold;
    }
    .disabled {
      background-color: #888;
      cursor: not-allowed;
      border-color: #888;
    }
    &__item-description {
      padding:32px 0 0;
      font-size:18px;
      line-height:1.5;
    }
    &__various-btn {
      display:flex;
      align-items:baseline;
      margin: 16px 0 0;
      &__left {
        width:330px;
        cursor:pointer;
        #link-likes{
          width: auto;
          text-decoration: none;
          display: inline-block;
          .liked {
            color: $mercarired;
            padding:8px 16px;
            font-size:13px;
            border:1px solid $mercarired;
            border-radius:40px;
            background-color: white;
            line-height:13px;
            width: 110px;
            transition: 1.0s;
            .fa {
              color: $mercarired;
              transition: 0.8s;
            }
          }
        }
        #link-likes{
          width: auto;
          text-decoration: none;
          display: inline-block;
          .likes {
            color: $black-f;
            padding:8px 16px;
            font-size:13px;
            border:1px solid $gray-b;
            border-radius:40px;
            background-color:$gray-b;
            line-height:13px;
            width: 110px;
              i.fa-heart {
                color:#ccc;
              }
            }

        }
        #link-report{
          width: 180px;
          text-decoration: none;
          display: inline-block;
          margin-right:13px;
          .report {
            padding:7.5px 16px;
            font-size:13px;
            border:1px solid $gray-b;
            border-radius:40px;
            background-color:$gray-b;
            line-height:13px;
            cursor:pointer;
            width: 180px;
          }
        }
      }
      &__safety {
        text-align: right;
        margin-left: 50px;
        cursor:pointer;
        color:$blue-link-f;
        &__link {
          text-decoration: none;
          color:$blue-link-f;
          &-contents {
            .lock {
              text-decoration: none;
              color:$blue-link-f;
              .fa-lock {
              }
            }
          }
        }
      }
    }
  }
  &-own-item-container {
    width: 700px;
    height: auto;
    background-color: white;
    margin: 25px 0;
    padding:20px 16px;
    &__edit {
      @include button-default-style();
      text-decoration: none;
      &:hover {
        opacity: 0.8;
        transition-duration: 0.6s;
      }
    }
    &__or {
      width: 100%;
      text-align: center;
      line-height: 50px;
    }
    &__open {
      @include button-default-style();
      text-decoration: none;
    }
    &__close {
      @include button-default-style();
      text-decoration: none;
    }
    #good-to-delete {
      display: none;
    }
    &__delete-btn {
      @include button-default-style(100%, #aaa);
      text-decoration: none;
      margin-top: 15px;
    }
  }
  &-comment-container {
    width:700px;
    background-color:$white-b;
    &__message-container {
      margin-top:0.5em;
      overflow:hidden;
      padding:24px;
      position:relative;
      .non_pics_icon {
        height:40px;
        width:40px;
        border-radius: 50%;
        overflow:hidden;
      }
      &-right {
        width:600px;
        margin-left:auto;
        float:right;
        &__name {
          display:inline-block;
          font-weight:bold;
        }
        &__body {
          width:600px;
          padding:16px;
          border-radius: 15px;
          background-color: #eef0f4;
          i.fas.fa-caret-right {
            font-size:20px;
            color:#eef0f4;
            transform:rotate(-45deg);
            position:absolute;
            top:50px;
            left:72px;
          }
          &-text {
          }
          &-icons {
            margin-top:8px;
            color:#aaa;
            display:flex;
            justify-content:space-between;
            &__left {
              display:flex;
              flex-direction:row;
              align-items:center;
              .fa-clock {
                margin-right:3px;
              }
              &__time {
                margin-right:8px;
              }
            }
            &__right {
              display:flex;
              flex-direction:row;
              .fa-trash-alt {
                margin-left:8px;
              }
            }
          }
        }
      }
    }
    form,&__message-form {
      clear:both;
      padding:24px;
      p {
        padding:8px;
        background-color:#fff6de;
      }
      input {
      }
      textarea {
        width:100%;
        min-height: 104px;
        padding:10px;
        margin:8px 0 0;
        outline: 0;
        &[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
          }
        &:focus {
          border-color:#0099e8;
        }
      }
      button,&__parent-comment-submit-button {
        background-color:#aaa;
        width:100%;
        border:1px solid #aaa;
        color:$white-f;
        line-height:48px;
        margin:8px 0 0;
      }
    }
  }
  &-nav-item-link {
    width:700px;
    display:flex;
    justify-content:space-between;
    margin-top:24px;
    &-prev {
      word-wrap:break-word;
      .angle-left  {
        text-decoration: none;
        color:$blue-link-f;
        display:flex;
        align-items:center;
        .fa-angle-left {
          font-weight:bold;
          font-size:24px;
          -webkit-text-stroke: 1px $gray-b
        }
      }
    }
    &-next {
      margin-right:0 0 0 auto;
      word-wrap:break-word;
      width:45%;
      text-align: right;
      .angle-right  {
        text-decoration: none;
        color:$blue-link-f;
        display:flex;
        align-items:center;
        justify-content:flex-end;
        .fa-angle-right {
          font-weight:bold;
          font-size:24px;
          -webkit-text-stroke: 1px $gray-b
        }
      }
    }
  }
  &-social-media-container {
    width:700px;
    height:150px;
    background-color:$white-b;
    margin:24px 0 48px;
    padding:32px 0 24px;
    &__box {
      width:700px;
      margin:30px 0 0;
      display:flex;
      justify-content:center;
      text-align: center;
      &__icon__f {
        width:44px;
        height:44px;
        border-style: solid;
        border-width:0;
        background-color:#385185;
        border-radius:5px;
        font-size:20px;
        color:$white-f;
        line-height: 44px;
        margin:0 8px 8px 0;
        &-facebook {
        }
      }
      &__icon__t {
        width:44px;
        height:44px;
        border-style: solid;
        border-width:0;
        background-color:#5d9dc9;
        border-radius:5px;
        font-size:20px;
        line-height: 44px;
        margin:0 8px 8px 0;
          &-twitter {
            color:$white-b;
          }
      }
      &__icon__p {
        width:44px;
        height:44px;
        border-style: solid;
        border-width:0;
        background-color:#aa262a;
        border-radius:5px;
        font-size:20px;
        color:$white-f;
        line-height: 44px;
        margin:0 8px 8px 0;
        &-pinterest {
          color:$white-b;
        }
      }
    }
  }
  &-items-in-user-profile {
    &__items-box-container {
      &__head {
        font-size:22px;
        margin:24px 0 8px;
        line-height:1.4;
        font-weight:bold;
        &__name {
          text-decoration: none;
          color:$blue-link-f;
        }
      }
      &__items-box-content {
        display:flex;
        flex-wrap:wrap;
        &__box {
          width:220px;
          height:330px;
          margin:0 0 20px 20px;
          a {
            text-decoration: none;
            color: $black-f;
          }
          &:nth-child(3n+1) {
            margin-left: 0px;
            margin-bottom:20px;
          }
          &__photo {
            height:220px;
            overflow: hidden;
          }
          &__body {
            height:110px;
            padding:16px;
            background-color:$white-b;
            &-text {
              font-size:16px;
              margin:8px 0 0 0;
              display:inline-block;
              width:188px;
              height:48px;
          }
            &__tb {
              height:28px;
              &-top {
                display:inline-block;
                display:flex;
                justify-content:space-between;
                color: $black-f;
                &__price {
                  font-weight:600;
                }
                &__right {
                  &__heart {
                    color:#ccc;
                  }
                  &__like-count {
                    display:inline-block;
                    font-size:16px;
                  }
                }
              }
              &__tax {
                font-size:10px;
              }
            }
          }
        }
      }
    }
  }
}
